[Unit]
Description=start diagnostic service
After=network-online.target
# StartLimitIntervalSec=300
# StartLimitBurst=5

[Service]
ExecStart=/bin/bash /opt/config_start.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target